.game {
  background: no-repeat url('/images/fighter.gif') black;
  background-position: 0px -500px;
  min-height: 700px;
  margin-top: -20px;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
#player1 {
  height: 50px;
  width: 50px;
  background: no-repeat url('/images/Orange-ghost.gif');
  background-size: 50px 50px;
  position: absolute;
  top: 410px;
}
#player2 {
  height: 50px;
  width: 50px;
  background: no-repeat url('/images/Pink-ghost.gif');
  background-size: 50px 50px;
  position: absolute;
  top: 440px;
}
