<% if session[:player1] && session[:player2] %>

<div class="game">

  <div id="player1"><%@p1%></div>
  <div id="player2"><%@p2%></div>
</div>

<form action="/logout" method="get"><input type="submit" value="logout"></form>


<% else %>

<div class="container">
  <form method="post" action="/">
    <input type="text" name="player1" placeholder="Player 1 Name">
    <input type="text" name="player2" placeholder="Player 2 Name">
    <input type="submit" value="PLAY!">
  </form>
</div>

<% end %>
